.home-page-desktop-logged-container {
    margin-left: 5%;
    margin-right: 5%;
    gap: calc(1.5vh + 1vw);
    height: 100%;
}

.home-page-desktop-logged-content {
    width: 100%;
    justify-content: space-between;
    gap: calc(5vh + 5vw);
}

.home-page-desktop-logged-functionality-container {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 436px) {}