.user-game-progress-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5vh;
    margin-left: 2vw;
  }

  .score-div {
    flex-direction: column;
    font-size: small;
  }

  .growing-plant-div{
    height: 70%; 
  }

@media screen and (max-width: 800px) {
    .user-game-progress-div {
        display: flex;
        flex-direction: column;
      }

      .score-div {
        width: 100%;
        flex-direction: column;
        font-size: small;
      }
}