.user-game-progress-div {
    display: flex;
    flex-direction: column;
  }

  .score-div {
    width: 100%;
    flex-direction: column;
    font-size: small;
    margin-top: -10%;
  }

  .growing-plant-div {
    height: 70%;
    margin-top: -10%
  }

@media screen and (max-width: 600px) {
    .user-game-progress-div {
        display: flex;
        flex-direction: column;
      }

      .score-div {
        width: 100%;
        flex-direction: column;
        font-size: small;
        margin-top: -10%;
      }

      .growing-plant-div {
        height: 70%;
        margin-top: -50%
      }
}