#edit-plant-container {
  height: auto;
  background-color: var(--white-lower-contrast);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: fixed;
  top: 20%;
  width: 30em;
  height: 35%;
}

#plant-edit-message {
font-size: 2em;;
}

#edit-plant-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
}


#edit-plant-message {
  font-size: 2em;
  font-weight: 700;
}

.edit-plant-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50%;
  font-size: 1em;
  font-weight: 600;
  gap: 0.5em;
}

.edit-plant-input-container > input[type="text"] {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 1.5em;
  box-sizing: border-box;
  padding-left: 0.7em;
}

#edit-plant-bttn {
  background-color: #2d6a4f;
  width: 15em;
  height: 3.5em;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 2em;
}

#edit-plant-bttn:hover {
  background-color: #208d5c;
  transition: all 0.3s ease-in-out;
}

#edit-plant-bttn-message {
  color: white;
  font-size: 1.3em;
 
}

.edit-plant-input-dropdown {
  height: 2em;
  font-size: 1em;
}

#background-shade {
    min-width: 100%;
    height: 250vh;
}
