#edit-plant-container {
  height: auto;
  background-color: var(--white-lower-contrast);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50%;
}

#edit-plant-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
}

#edit-plant-image {
  width: 100%;
  height: 23em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#edit-plant-name-container {
  width: 100%;
}

#edit-plant-name {
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}

#edit-plant-right {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#edit-plant-message {
  font-size: 2em;
  font-weight: 700;
}

.edit-plant-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 70%;
  font-size: 1em;
  font-weight: 600;
  gap: 0.5em;
}

.edit-plant-input-container > input[type="text"] {
  height: 2em;
  box-sizing: border-box;
  font-size: 1.2em;
}

.edit-plant-input-container > input[type="date"] {
  height: 2em;
  font-size: 1em;
}

#edit-plant-bttn {
  background-color: #2d6a4f;
  width: 15em;
  height: 3.5em;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 2em;
}

#edit-plant-bttn:hover {
  background-color: #208d5c;
  transition: all 0.3s ease-in-out;
}

#edit-plant-bttn-message {
  color: white;
  font-size: 1.7em;
 
}

.edit-plant-input-dropdown {
  height: 2em;
  font-size: 1em;
}

#plant-edit-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#plant-edit-message {
  padding-top: 1em;
  font-size: 3em;
}

#background-shade {
    min-width: 100%;
    height: 250vh;
}
