#forgot-password-form{
    height: 100%;
    gap: 1.2em
}

#forgot-header{
    font-size: 2.5em;
}

#forgot-password-button{
    padding: 4px 8px;
    font-size: 1.4em;
}

.forgot-password-input{
    border-radius: 7px;
    font-size: 1.2em;
    padding: 4px;
}

.forgot-valid-paragraph{
    color: green;
}

.forgot-invalid-paragraph{
    color: crimson;
}

#forgot-something-went-wrong{
    font-size: 2em;
}

#forgot-changed-password{
    font-size: 3em;
}

#forgot-password-container{
    margin-top: 4em;
    margin-bottom: 2em;
    align-self: center;
}