#search-page {
    width: 100%;
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-section {
    width: 100%;
    height: 12em;
}

#search-communicate {
    font-size: 2em;
    font-weight: 600;
}

#search-bar-section {
    gap: 0.5em;
}

#bottom-search-row,
#upper-search-row{
    gap: 1em;
    align-items: center;
    height: 3em;
}

#bottom-search-row{
    flex-direction: column;
}

#search-bar {
    border-radius: 25px;
    border: 1px solid black;
    font-size: 1.5em;
    padding: 0 1em;
    box-sizing: border-box;
}

#search-button {
    color: white;
    border-radius: 35px;
    background-color: #2D6A4F;
    font-size: 1.5em;
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 1.5em;
}

#search-button:hover {
    transition: all ease-in-out 1s;
}

#search-result-container {
    min-height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    margin-top: 5em;
    width: 70%;
}

#load-more-button {
    color: white;
    background-color: #2D6A4F;
    border-radius: 35px;
    font-size: 1.5em;
    width: 15%;
    height: 2.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#settings-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    border-radius: 15px;
}

#filter-select{
    font-size: 1em;
    outline: 10px red;
    color: #272727;
    border: 1px solid 767676;
    padding: .8em;
}

.filter-option{
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    #search-page {
        min-height: 100vh;
    }

    #search-communicate {
        font-size: 1.5em;
    }

    #search-bar-section {
        width: 80%;
        gap: 0.4em;
    }

    #search-bar {
        width: 100%;
    }

    #search-result-container {
        margin-top: 4em;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #load-more-button {
        font-size: 1.2em;
        width: 50%;
        margin: 1em;
    }

    #filter-select {
        font-size: 0.9em;
        padding: 0.5em;
    }

    .filter-option {
        font-size: 1em;
        padding: 0.7em;
    }
}

@media screen and (max-device-width: 768px) and (orientation: landscape){
    #search-result-container {
        margin-top: 4em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}